<% include header.html %>

<h2>What</h2>
<p>
	<img class="figure atRight" src="/img/about/screenshot.png"/>
	Tomighty is a tool that helps you perform the
	<a href="http://www.pomodorotechnique.com" target="_blank">Pomodoro Technique&reg;</a>.
	It's intended to be deadly simple, easy to use and unintrusive.
</p>
<p>
	These are the current features:
</p>
<ul>
	<li>Configurable times</li>
	<li>Configurable sounds</li>
	<li>Pomodoro&trade; counter</li>
	<li>Show time on tray</li>
	<li>Themes</li>
	<li>
		Multiple languages
		<img src="/img/flags/gb.png" title="English" width="16" height="11"/>
		<img src="/img/flags/fr.png" title="French" width="16" height="11"/>
		<img src="/img/flags/de.png" title="German" width="16" height="11"/>
		<img src="/img/flags/it.png" title="Italian" width="16" height="11"/>
		<img src="/img/flags/br.png" title="Portuguese" width="16" height="11"/>
		<img src="/img/flags/ru.png" title="Russian" width="16" height="11"/>
		<img src="/img/flags/es.png" title="Spanish" width="16" height="11"/>
		<img src="/img/flags/tw.png" title="Taiwanese" width="16" height="11"/>
	</li>
</ul>

<h2>Why</h2>
<p>
	When I first met Pomodoro&trade;, I was amazed of how simple and effective this technique
	turned out to be. Results came in short time: my productivity increased and I felt
	a lot less exhausted. As I did not have a physical timer at hand, the natural thing I did was
	to search the web for some timer application. What I wanted was some desktop app that
	lived on the system tray and did not bother me in any way. I tried lots of apps, but
	none satisfied me. That's why I created Tomighty.
</p>

<% include footer.html %>
