<% include header.html %>

<h2>What</h2>
<p class="screenshots atRight">
	<img class="figure" src="/img/about/screenshot-mac.png"/><br/>
	<img class="figure" src="/img/about/screenshot-windows.png"/>
</p>
<p>
	Tomighty is a tool that helps you apply the
	<a href="http://www.pomodorotechnique.com" target="_blank">Pomodoro Technique&reg;</a>.
	It's intended to be plain simple, easy to use and unintrusive.
</p>
<p>
	Tomighty's features include:
</p>
<ul>
	<li>Configurable times</li>
	<li>Configurable sounds</li>
	<li>Pomodoro&trade; counter</li>
	<li>Displays the remaining time on tray</li>
	<li>Themes</li>
	<li>
		Multiple languages
		<img src="/img/flags/gb.png" title="English" width="16" height="11"/>
		<img src="/img/flags/fr.png" title="French" width="16" height="11"/>
		<img src="/img/flags/de.png" title="German" width="16" height="11"/>
		<img src="/img/flags/it.png" title="Italian" width="16" height="11"/>
		<img src="/img/flags/br.png" title="Portuguese" width="16" height="11"/>
		<img src="/img/flags/ru.png" title="Russian" width="16" height="11"/>
		<img src="/img/flags/es.png" title="Spanish" width="16" height="11"/>
		<img src="/img/flags/tw.png" title="Taiwanese" width="16" height="11"/>
	</li>
</ul>

<h2>Why</h2>
<p>
	When I first tried Pomodoro&trade;, I was amazed by how simple and effective this technique
	turned out to be. Results came in short time: my productivity increased and I felt
	a lot less exhausted. As I did not have a physical timer at hand, the natural thing to do was
	to search the web for some timer application. I was looking for a desktop app that
	lives on the system tray and does not get in they way. I tried lots of apps, but
	none satisfied me. That's why I created Tomighty.
</p>

<% include footer.html %>
