<% if(!showLatestChangesOnly) { %>

	<h3>Version 0.7.1</h3>

<% } %>

	<p>Bug fixes:</p>
	<ul>
		<li>Taiwanese characters rendered incorrectly
			<a href="https://github.com/ccidral/tomighty/issues/40" target="_blank">(issue #40)</a></li>
		<li>Russian characters rendered incorrectly
			<a href="https://github.com/ccidral/tomighty/issues/42" target="_blank">(issue #42)</a></li>
	</ul>
	
	<p>New features:</p>
	<ul>
		<li>Taiwanese translation by
			<a href="https://github.com/haocheng" target="_blank">@haocheng</a></li>
	</ul>


<% if(!showLatestChangesOnly) { %>

	<h3>Version 0.7</h3>

	<p>Bug fixes:</p>
	<ul>
		<li>Fixed Tomighty not starting on MacOSX, by 
			<a href="https://github.com/dobermai" target="_blank">@dobermai</a>
			<a href="https://github.com/ccidral/tomighty/issues/7" target="_blank">(issue #7)</a></li>
	</ul>
	
	<p>New features:</p>
	<ul>
		<li>Allows dragging the window around
			(<a href="https://github.com/ccidral/tomighty/issues/12" target="_blank">issue #12</a>)</li>
		<li>Don't allow multiples instances of Tomighty when running the EXE wrapper</li>
		<li>French translation by Pierre-Adrien Buisson</li>
		<li>Italian translation by
			<a href="https://github.com/stelinx" target="_blank">@stelinx</a></li>
		<li>Russian Translation by
			<a href="https://github.com/alfalive" target="_blank">@alfalive</a></li>
		<li>Spanish translation by
			<a href="https://github.com/moijafcor" target="_blank">@moijafcor</a></li>
	</ul>

	<h3>Version 0.6</h3>
	
	<p>Bug fixes:</p>
	<ul>
		<li>Ugly appearance under Gnome/Linux (<a href="http://code.google.com/p/tomighty/issues/detail?id=7" target="_blank">issue #7</a>).</li>
		<li>NullPointerException under Ubuntu (<a href="http://code.google.com/p/tomighty/issues/detail?id=40" target="_blank">issue #40</a>).</li>
	</ul>
	<p>New features:</p>
	<ul>
		<li>Support for themes.</li>
		<li>Configurable sounds (<a href="http://code.google.com/p/tomighty/issues/detail?id=15" target="_blank">issue #15</a>).</li>
		<li>Show remaining time on tray (<a href="http://code.google.com/p/tomighty/issues/detail?id=17" target="_blank">issue #17</a>).</li>
		<li>Translation for de-DE (German) locale (<a href="http://code.google.com/p/tomighty/issues/detail?id=43" target="_blank">issue #43</a>).</li>
	</ul>
	<p>
		Special thanks to <a href="http://forkbomb-blog.de" target="_blank">Dominik Obermaier</a>
		for the German translation.
	</p>
	
	<h3>Release 0.5</h3>
	<ul>
		<li>Pomodoro counter (<a href="http://code.google.com/p/tomighty/issues/detail?id=24" target="_blank">issue #24</a>).</li>
		<li>Change window color according to the current activity (<a href="http://code.google.com/p/tomighty/issues/detail?id=25" target="_blank">issue #25</a>).</li>
		<li>Multiple languages support (<a href="http://code.google.com/p/tomighty/issues/detail?id=11" target="_blank">issue #11</a>).</li>
		<li>Translation for pt-BR (Portuguese) locale.</li>
		<li>Increased timer font size.</li>
		<li>Improved build process for the Linux platform (<a href="http://code.google.com/p/tomighty/issues/detail?id=33" target="_blank">issue #33</a>).</li>
		<li>Fixed sound bugs under Linux (issues <a href="http://code.google.com/p/tomighty/issues/detail?id=31" target="_blank">#31</a> and <a href="http://code.google.com/p/tomighty/issues/detail?id=34" target="_blank">#34</a>).</li>
	</ul>
	<p>Many thanks to (in alphabetical order):</p>
	<ul>
		<li>Jakub Rezek for fixing sound issues on Linux.</li>
		<li>Thiago Moreira Talma for ideas on pomodoro counter and window colors.</li>
	</ul>
	
	<h3>Release 0.4</h3>
	<ul>
		<li>Configurable times (<a href="http://code.google.com/p/tomighty/issues/detail?id=18" target="_blank">issue #18</a>).</li>
		<li>Play winding sound when the timer starts (<a href="http://code.google.com/p/tomighty/issues/detail?id=2" target="_blank">issue #2</a>).</li>
		<li>Play tic-tac sound when the timer is running (<a href="http://code.google.com/p/tomighty/issues/detail?id=2" target="_blank">issue #2</a>).</li>
		<li>Ability to disable sounds individually.</li>
	</ul>
	
	<h3>Release 0.3</h3>
	<ul>
		<li>Alternative workflow for the current activity (<a href="http://code.google.com/p/tomighty/issues/detail?id=12" target="_blank">issue #12</a>).</li>
		<li>Play bell sound when the timer ends (<a href="http://code.google.com/p/tomighty/issues/detail?id=2" target="_blank">issue #2</a>).</li>
		<li>Create sexy button UI (<a href="http://code.google.com/p/tomighty/issues/detail?id=4" target="_blank">issue #4</a>).</li>
		<li>Fixed window's background being repeatedly repainted due to the presence of non-opaque buttons.</li>
	</ul>
	
	<h3>Release 0.2</h3>
	<ul>
		<li>Window auto-hide option (<a href="http://code.google.com/p/tomighty/issues/detail?id=14" target="_blank">issue #14</a>).</li>
		<li>About dialog and license text.</li>
	</ul>
	
	<h3>Release 0.1</h3>
	<p>This was the first functional version. It includes a basic timer and provides the most common workflow for the Pomodoro Technique.</p>

<% } %>
