<% include header.html %>

<h2>Contributing</h2>

<p>
	There are so many cool things to add and improve to Tomighty,
	but our effort is constrained by time and sometimes skills.
	Maybe you want to contribute in some way.
</p>

<p>
	Here goes a list of things that actually need some help with:
</p>

<ul>
	<li>User interface design and usability</li>
	<li>A new logo</li>
	<li>Tray icons</li>
	<li>Translation to other languages</li>
	<li>Installation packages for Linux</li>
</ul>

<p>
	Check out our <a href="http://github.com/ccidral/tomighty/issues" target="_blank">issue tracker</a>,
	there may be something else that you may find interesting.
</p>

<h3>Source code</h3>

<p>
	The project is currently hosted at <a href="http://github.com/ccidral/tomighty">Github</a>.
</p>

<% include footer.html %>
