<% include header.html %>

<h2>Download</h2>

<div class="downloads">
	<p>
		Mac
		<a class="mac" href="https://tomighty.googlecode.com/files/Tomighty-1.0.1.dmg">OSX application</a>
	</p>
	<p>
		Windows platform
		<a class="installer" href="http://tomighty.googlecode.com/files/tomighty-0.7.1-install.exe">Installer</a>
		<a class="exe" href="http://tomighty.googlecode.com/files/tomighty-0.7.1.exe">Executable</a>
	</p>
	<p>
		All operating systems
		<a class="jar" href="http://tomighty.googlecode.com/files/tomighty-0.7.1.jar">Java archive</a>
	</p>
</div>

<h2>Latest changes</h2>

<% include changelist.html %>

<p>
	See changes <a href="/changes">for all versions</a>.
</p>

<% include footer.html %>
