<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Tomighty</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/about.css">
	<link rel="stylesheet" type="text/css" href="/css/download.css">
    <script type="text/javascript">
        /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
        /* ]]> */
    </script>
</head>

<body>
	<div id="header">
		<div class="container">
			<h1><a href="/">Tomighty</a></h1>
			<h2>Desktop timer for Pomodoro Technique&reg; users</h2>
		</div>
	</div>

	<div id="menu">
		<div class="container">
            <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://www.tomighty.org"></a>
            <noscript>
                <a href="http://flattr.com/thing/1090024/Tomighty" target="_blank">
                    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
                </a>
            </noscript>
            <a href="/about">About</a>
			<a href="/download">Download</a>
			<a href="http://groups.google.com/forum/?fromgroups#!forum/tomighty">Discuss</a>
			<a href="/contribute">Contribute</a>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BWNK5RYUAYY92">Donate</a>
		</div>
	</div>

	<div id="content">
		<div class="container">
