<% include header.html %>

<link rel="stylesheet" type="text/css" href="/css/index.css">

<p class="summary">
	Tomighty is a convenient, easy to use, eye candy desktop application that helps
	you organize and execute your tasks in the Pomodoro&trade; way.
</p>
<div class="downloads">
	Download Tomighty for
	<a class="mac" href="https://github.com/ccidral/tomighty-osx/releases/download/v1.0/tomighty-1.0-osx.zip">Mac</a>
	<a class="windows" href="http://tomighty.googlecode.com/files/tomighty-0.7.1-install.exe">Windows</a>
</div>
<p>
	It's <a href="http://en.wikipedia.org/wiki/Freeware" target="_blank">free</a>, as in
	<q><a href="http://en.wikipedia.org/wiki/Gratis_versus_Libre" target="_blank">free beer</a></q>.
	You don't need to pay a penny to use it.
</p>
<p>
	It's <a href="http://en.wikipedia.org/wiki/Open-source_software" target="_blank">open source</a>.
	You can download the source code and modify it to fit your needs.
</p>

<h2>About the technique</h2>
<p>
	The Pomodoro Technique&reg; is a simple way to boost your productivity when performing
	mind-consuming tasks. It helps you keep yourself focused while reducing mental
	exhaustion. Read more about it at
	<a href="http://www.pomodorotechnique.com" target="_blank">the official website</a>.
</p>

<% include footer.html %>
