.downloads a {
	margin: 0 0 0 1em;
	padding: 1em 0 1em 38px;
}
.downloads .installer {
	background: url(../img/installer.png) no-repeat center left;
}
.downloads .exe {
	background: url(../img/exe.png) no-repeat center left;
}
.downloads .jar {
	background: url(../img/jar.png) no-repeat center left;
}
.downloads .mac {
	background: url(../img/mac.png) no-repeat center left;
}
.downloads .windows {
	background: url(../img/windows.png) no-repeat center left;
}
