.summary {
	background-color: #EDC913;
	-webkit-border-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 0.5em;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 0.5em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #8f3d3d;
	margin-bottom: 0;
	padding: 1em;
	text-shadow: 0px 1px 1px #eee;
}
.downloads {
	background-color: #222;
	-webkit-border-radius: 0.5em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 0.5em;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-radius: 0.5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 0.7em;
	margin-top: 0;
	padding: 0.8em;
	text-align: right;
}
